:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
  --content-width: 100%;
  --sidebar-width: 300px;
}

html.dark {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
  --c-bg: #141414;
}

.page-meta {
  display: none;
}

.home {
  max-width: 100%;
  padding: 0;
}

.page {
  z-index: 1;
}

.demo-content {
  h4 {
    margin-bottom: 12px;
    font-size: 16px;
    margin-top: 24px;
    padding: 0;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.demo-Grid {
  .demo-content {
    .i-grid {
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .i-grid__item {
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        color: #fff;
        background: var(--i-primary);
      }
      &:nth-of-type(2n) {
        & > div {
          background: var(--i-primary-disabled);
        }
      }
    }
  }
}

.demo-Layout {
  .demo-content {
    .i-layout--header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background: var(--i-primary-disabled);
    }
    .i-layout--aside {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background: var(--i-primary);
    }
    .i-layout--content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background: var(--i-primary-hover);
    }
    .i-layout--footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background: var(--i-primary-disabled);
    }
  }
}

.demo-Menu {
  .demo-content {
    background: var(--i-bg-hover);
  }
}

.demo-Scrollbar,
.demo-BackTop {
  .demo-content {
    .idesign-demo-itemy {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 50px;
      color: var(--i-primary-txt);
      background: var(--i-primary-bg);
      border-radius: 4px;
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    .idesign-demo-itemx-wrap {
      display: flex;
      align-items: center;
      width: fit-content;
    }

    .idesign-demo-itemx {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 100px;
      height: 50px;
      color: var(--i-success-txt);
      background: var(--i-success-bg);
      border-radius: 4px;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}

.demo-Popup {
  .demo-content {
    .idesign-demo-block-popup {
      position: relative;
      width: 560px;
      height: 260px;
      margin: 0 auto;
      .i-button {
        position: absolute;
        width: 100px;
      }
      .Top {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .TopLeft {
        top: 0;
        left: 100px;
      }
      .TopRight {
        top: 0;
        right: 100px;
      }
      .Bottom {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .BottomLeft {
        bottom: 0;
        left: 100px;
      }
      .BottomRight {
        right: 100px;
        bottom: 0;
      }
      .Left {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      .LeftTop {
        top: 55px;
        left: 0;
      }
      .LeftBottom {
        bottom: 55px;
        left: 0;
      }
      .Right {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      .RightTop {
        top: 55px;
        right: 0;
      }
      .RightBottom {
        right: 0;
        bottom: 55px;
      }
    }
  }
}

.demo-block {
  .demo-content {
    padding-bottom: 35px !important;
    img {
      max-width: unset;
    }
  }
}

div {
  .right-anchor {
    min-width: 310px;
  }
  .right-anchor-menu {
    overflow: unset;
    padding-right: 24px;
  }
  .right-anchor-button {
    display: none;
  }
  .right-anchor-menu-item {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 24px);
    height: auto;
    margin-left: 24px;
    padding: 8px 16px;
    font-size: 14.4px;
    border-radius: 10px;
    transition: all 0.1s ease-out;
    border: none;
    &:hover {
      background: var(--i-bg-hover);
    }
    &.h2 {
      padding: 8px 16px;
      font-weight: unset;
      border-left: none;
      &:hover,
      &.active {
        padding: 8px 16px;
        border-left: none;
      }
      &.active {
        &::before {
          position: absolute;
          left: -25px;
          transform: scaleX(1.5);
          top: 0;
          content: '';
          width: 1px;
          height: 100%;
          background: var(--i-primary);
        }
      }
    }
  }
}

.page {
  .page-nav {
    padding: 30px 360px 30px 60px;
  }
  .theme-default-content {
    padding: 30px 360px 30px 60px;
    a:hover {
      text-decoration: unset;
    }
    & > div {
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 1rem;
      }
      & > h2,
      & > h3 {
        border-bottom: none;
      }
      & > table {
        color: var(--i-font-2);
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border: 1px solid transparent;
        border-radius: 10px;
        display: table;
        box-shadow: inset 0 0 0 1px var(--i-border);
        thead {
          color: var(--i-font-2);
          font-size: 18px;
          border: 2px solid var(--i-border);
          border-bottom: 0;
          background-color: var(--i-bg-hover);
        }
        th {
          text-align: left;
          font-size: 16px;
        }
        tr:nth-child(2n) {
          background-color: transparent;
        }
      }
    }
  }
}

.idesign-demo-block-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
}

.idesign-demo-block-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  .i-select {
    width: 200px;
  }
  &.vertical {
    h4 {
      margin: 0;
    }
  }
}
