:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
  --content-width: 1200px;
}

html.dark {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

.page-meta {
  display: none;
}

.demo-content {
  .i-grid {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .i-grid__item {
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40px;
      color: #fff;
      background: #759eee;
    }
    &:nth-of-type(2n) {
      & > div {
        background: #9dbbf3;
      }
    }
  }
}

.theme-default-content {
  & > div {
    & > table {
      color: #454d64;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      border: 1px solid transparent;
      border-radius: 10px;
      display: table;
      box-shadow: inset 0 0 0 1px #ebedf1;
      thead {
        color: #454d64;
        font-size: 18px;
        border: 2px solid #ebedf1;
        border-bottom: 0;
        background-color: #f9fafb;
      }
      th {
        text-align: left;
        font-size: 16px;
      }
      tr:nth-child(2n) {
        background-color: transparent;
      }
    }
  }
}

.idesign-demo-block-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
}

.idesign-demo-block-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  .i-select {
    width: 200px;
  }
}

.i-design-demo-icon-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  color: #303133;
  border: 1px solid #ebedf1;
  border-radius: 10px;
  text-size-adjust: 100%;
  li {
    list-style-type: none;
  }
}

.i-design-demo-icon-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 125px;
  color: #606266;
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
  text-size-adjust: 100%;
  &:hover {
    background: #f2f2f2;
  }
  &::after {
    position: absolute;
    top: 4px;
    color: #999ba2;
    font-size: 14px;
    opacity: 0;
    transition: all 0.1s ease-out;
    content: '已复制组件';
  }
  &.-copyed {
    &::after {
      opacity: 1;
    }
  }
}
