:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

html.dark {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

.idesign-demo-block-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
}

.idesign-demo-block-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  column-gap: 16px;
  row-gap: 16px;
  .i-select {
    width: 200px;
  }
}

.i-design-demo-icon-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  color: #303133;
  border: 1px solid #ebedf1;
  border-radius: 10px;
  text-size-adjust: 100%;
}

.i-design-demo-icon-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 125px;
  color: #606266;
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
  text-size-adjust: 100%;
  &:hover {
    background: #f2f2f2;
  }
  &::after {
    position: absolute;
    top: 4px;
    color: #999ba2;
    font-size: 14px;
    opacity: 0;
    transition: all 0.1s ease-out;
    content: '已复制组件';
  }
  &.-copyed {
    &::after {
      opacity: 1;
    }
  }
}
