.i-message {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: max-content;
  padding: 10px 16px;
  z-index: 5001;
  color: var(--i-font-2);
  font-size: 14px;
  background-color: var(--i-bg);
  border-radius: 6px;
  outline: 0;
  box-shadow: var(--i-shadow);
  transform: translateX(0);
  .i-icon {
    margin-right: 8px;
  }
  .icon-TipInfo {
    color: var(--i-primary);
  }
  .icon-TipCheckFill {
    color: var(--i-success);
  }
  .icon-TipWarningFill {
    color: var(--i-warning);
  }
  .icon-TipCloseFill {
    color: var(--i-error);
  }
}

.i-message-wrapper__top,
.i-message-wrapper__bottom {
  position: fixed;
  left: 50%;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
}

.i-message-wrapper__top {
  top: 20px;
  .i-message:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.i-message-wrapper__bottom {
  bottom: 20px;
  .i-message:not(:first-of-type) {
    margin-top: 16px;
  }
}

.i-message-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-top-move,
.message-top-enter-active,
.message-top-leave-active,
.message-bottom-move,
.message-bottom-enter-active,
.message-bottom-leave-active  {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.message-top-enter-from,
.message-top-leave-to {
  opacity: 0;
  transform: translate(0, -30px);
}

.message-top-leave-active,
.message-bottom-leave-active {
  position: absolute;
}

.message-bottom-enter-from,
.message-bottom-leave-to {
  opacity: 0;
  transform: translate(0, 30px);
}
